body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90svh;
}

main input[type=submit] {
    width: 100%;
}

main input[type=text], main input[type=password] {
    width: calc(100% - 24px);
}

main {
    width: 90svw;
    max-width: 250px;
}

details {
    margin-top: 10px;
}

details summary {
    cursor: pointer;
}
