html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}
#zamowienie{
    display: flex;
    align-items: stretch;
    justify-items: center;
}
#adder {
    align-self: flex-start;
}
@media print {
    #print { display: none; }
    tr:nth-child(even) { background-color: #f2f2f2; }
}

@page {
    size: auto;
    margin: 0.5rem 0;
}
#table {
    position: absolute;
    top: 400px;
    left: 5%;
    display: flex;
    align-items: f;
    justify-items: center;
    width: 90%;
    flex-direction: column;
}

table, th, td {
    border-top: 1px solid #F39F81;
    border-bottom: 1px solid #F39F81;
    border-collapse: collapse;
    font-size: 20px;
    width: 100%;
}
.editTD {
    min-width: 30px;
}
th {
    height: 20px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #F39F81;
    text-align: center;
    font-weight: bold;
    text-align: left;
}

td {
    text-align: left;
    min-width: 80px;
}
td:nth-child(2) {
    padding-right: 7px;
}
td:nth-child(3) {
    padding-left: 7px;
    border-left: #F39F81 solid 1px;
}
.price{
    border-left: 1px solid #F39F81;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    top: 4%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#name {
    float: left;
}
#numbers {
    float: left;
    padding-top: 105px;
}
table {
    border-collapse: collapse;
}
#client{
    position: absolute;
    left: 4%;
    top: 16%;
}
#clientName{
    font-weight: bold;
}
#pricingList {
    position: absolute;
    right: 4%;
}
.productEnabled:hover {
    background-color: gray;
    cursor: pointer;
}
.product {
    padding-left: 10px;
    padding-right: 10px;
}
#addNewProduct {
    /*display: flex;*/
    /*flex-direction: row;*/
}
#productsDisplay {
    width: 100%;
    background-color: white;
    margin: 1px;
    border: 1px solid black;
    border-radius: 5px;
}
#searchBarDiv{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#searchBarNumberDiv{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#abortADD{
    height: 30px;
    width: 30px;
}
.edit{
    filter: invert(100%);
}
.editTD>img{
    width: 30px;
    height: 30px;
}
.edit:hover {
    cursor: pointer;
}
.hoverPointer:hover{
    cursor: pointer;
}
@media print {
    #pricingList{
        display: none;
    }
    td{
        min-width: 80px;
    }
    .edit{
        display: none;
    }
    #adderTD {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    justify-content: center;
    #searchBarDiv{
        clear: both;
    }
    #searchBarNumberDiv{
        clear: both;
    }
    #addNewProduct {
        display: block;
    }
    input[type='number'] {
        width: 90%;
    }

}