body:has(#dim:not(.hidden)) {
    overflow: hidden;
}
.projects > a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    width: calc(100svw - 10px);
}

@media (min-width: 600px) {
    .projects > a {
        max-width: 250px;
    }
}

.projects > a h3 {
    margin: 0 0 5px;
}

.projects > a  > .company {
    display: flex;
    align-items: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}
#newProject {
    clear: both;
    width: 30%;
    position: absolute;
    left: 35%;
    top: 20%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid black;
    /*box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);*/
    display: flex;
    text-align: center;
}
#newProject > img {
    margin-left: auto;
}
#newProjectForm > input {
    width: 80% !important;
}
#newProject{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
}

#plus {
    margin-left: 10px;
    color: black;
    user-select: none;
    cursor: pointer;
}
#dim {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}
.hidden {
    display: none;
}
.cursorPointer{
    cursor: pointer;
}
#phoneADD{
    display: none;
}
@media screen and (max-width: 600px) {
    #newProject {
        width: 80%;
        left: 5%;
        top: 15%;
    }
    #phoneADD {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F39F81;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        text-align: center;
        bottom: 15px;
        right: 15px;
        font-size: 50px;
        font-weight: 300;
    }
    #plus {
        display: none;
        scroll-behavior: smooth;
    }
}
