body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: "Roboto", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}
input[type="password"],
input[type="text"] {
	/*background-color: #888888;*/
	padding: 1px;
	margin: 3px;
	border: 1px solid #444444;
	border-radius: 3px;
	display: flex;
}
input[type="submit"] {
	/*background-color: #888888;*/
	border: 1px solid #444444;
	margin: 2px;
	padding: 2px;
	border-radius: 3px;
}
